{% extends 'base.html' %}
{% load static %}

{% block custom_css %}
<link rel="stylesheet" href="{% static 'css/home_style.css' %}">
<style>
    body, html {
        height: 100%;
        margin: 0;
        font-size: 16px;
        background: linear-gradient(45deg, #e74c3c, #000), url('{% static 'img/background.jpg' %}') center/cover no-repeat;
    }

    .container {
        display: flex;
        align-items: center;
        justify-content: center;
        height: 100vh;
    }

    #home-content {
        text-align: center;
        padding: 50px;
    }

    h1 {
        font-family: 'Pacifico', cursive;
        color: #e74c3c;
        margin-bottom: 10px;
    }

    h3 {
        font-family: 'Quicksand', sans-serif;
        color: #3498db;
        margin-bottom: 20px;
    }

    .btn {
        background-color: #2ecc71;
        color: #fff;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
        font-size: 18px;
        padding: 15px 30px;
        border-radius: 5px;
        transition: background-color 0.3s ease;
    }

    .btn:hover {
        background-color: #27ae60;
    }

    .emoji {
        font-size: 24px;
        margin-right: 10px;
    }
</style>
{% endblock custom_css %}

{% block content %}
<div class="container">
    <div id="home-content">
        <h1>🗳️ Online Voting System - OYTIE - Get Started! 🚀</h1>
        <h3>Your Voice Matters! 📢</h3>
        <hr>
        <a class="btn" href="{% url 'polls:list' %}" role="button">Get Started!</a>
    </div>
</div>
{% endblock content %}
